body {
  font-family: sans-serif;
}
.blur {
  -webkit-filter: sepia(70%);
}
.sidebar {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.main {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.editor{
  max-height: 500px;
  height: 500px;
  /* margin-top: 15px; */

}

.staged-editor{
  /* margin-left: 0px; */
}

.resource-editor{
  margin-top: 15px;
  max-height: 200px;
  height: 200px;
}

.img-logo{
  width: 300px;
}


