body {
  font-family: sans-serif;
}
.blur {
  -webkit-filter: sepia(70%);
}
.sidebar {
  width: 20%;
  float: left;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.main {
  width: 100%;
  padding: 0;
  margin: 0;
  /* height: 100vh; */
}

.editor{
  max-height: 500px;
  height: 500px;
  /* margin-left: 120px !important; */
  position: relative;
  max-width: 600px;
  left:30%;
  width: 600px;
  top:40px;
  margin-bottom: 10px;

  /* margin-top: 15px; */

}

.main-screen-4-lesson{
  max-height: 500px;
  height: 500px;
  /* margin-left: 120px !important; */
  position: relative;
  max-width: 600px;
  left:33%;
  width: 600px;
  top:40px;
  margin-bottom: 10px;

  /* margin-top: 15px; */

}

.pages-container{
    max-height: 500px;
  height: 500px;
  /* margin-left: 120px !important; */
  position: absolute;
  max-width: 300px;
  right:0%;
  top:40px;
  width: 500px;
  /* background-color: red */
  /* margin-left: 0px; */
}


  .staged-editor{
    max-height: 500px;
  height: 500px;
  /* margin-left: 120px !important; */
  position: absolute;
  max-width: 300px;
  right:0%;
  top:40px;
  width: 500px;
  overflow: auto;
  /* background-color: red */
  /* margin-left: 0px; */
}

.score-board{
  margin-top: 45px;
  max-height: 600px;
  height: 600px;
  width: 600px;
  left:53%;
  position: absolute;
  bottom: 130px;


}

.resource-editor{
  margin-top: 45px;
  max-height: 500px;
  height: 500px;
}

.img-logo{
  width: 30git 0px;
}

@keyframes stagged-tool-highlight {
 	0% {
     background: #ee6306; /* lovely yellow colour */
     /* transform: rotateY(10deg) */
     padding: 1%;
 	}
 	100% {
 		background: none;
 	}
}

.stagged-tool-highlight {
    animation: stagged-tool-highlight 2s;
}

.image-list-img{
  height: 100px;
  max-height: 100px;
}


.image-list-autocomplete{
  position: fixed;
  z-index: 10;
  background-color: rgba(100, 100, 100, 0.9);
  width: 100%;
  top: 280px;
}

.tool-config{
     /* position: absolute; */
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    /* align-items: center; */
    background-color: rebeccapurple;
}

.tool-config > a{
    /* align-self: center; */
    /* position: absolute; */
    left: 500px;
    /* flex: 1; */
    /* margin: auto; */
    /* width: 100px; */
}

.l-img-tool{
    /* max-height: 100px; */
    height: 100px;
    position:'absolute';
    width: 100px;
    background-size: contain !important;
    /* display: block; */
    /* float: none ; */
}

.remove-tool-modal{
  height: 200px !important;
  width: 300px;
}

.tool{
    transform: translate(-50%, -50%);
}

.tool-line{
  justify-content: center;
}

