body {
  padding: 10px;
  font-family: sans-serif;
  background-color: red;
}
.blur{
  /* -webkit-filter: grayscale(50%); */
  /* -webkit-filter: blur(5px); */
  -webkit-filter: sepia(70%);

}
.lesson-container{
height: 500px;
}
